<a href="https://colab.research.google.com/github/Sachin729/Python-Basics/blob/main/Basic_Python_Class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 
## **Introduction to Python Day 1**
*   Variables,Standard Data Types
*   Comments, Types of  comments
*   Conditional Statements
*   Loops
*   Operands and Expressions

**Variables:**Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.


*   Assigning Values to Variables
*   Multiple Assignment

In [ ]:
#Assigning Values to Variables examples
var1 = "hello world" 
var2 = 'hello world'
print(var1,'\n',var2)

hello world
 hello world

In [ ]:
#Multiple Assignment example 1
var1 = var2 = 'hello world'
print(var1,'\n',var2)

hello world
 hello world

In [ ]:
#Multiple Assignment example 1
''' comments example 
this is example '''
var1 = var2 = 'hello world',True
print(var1,'\n',var2)

('hello world', True)
 ('hello world', True)

**Conditional Statements** :The if condition is considered the simplest of the three and makes a decision based on whether the condition is true or not. If the condition is true, it prints out the indented expression. If the condition is false, it skips printing the indented expression.

If statement: 
Syntax: if contition :
            Body of it 
        else:
            next

In [ ]:
#example 1
if 'Hello' in 'Hello world' :
  print("yes")
#example 2 
var1 = 22 
if var1 == 2:
  print("var1 is equal 2")
else:
  print("var1 not is equal 2")

yes
var1 not is equal 2

**Loops:**Loop continues until we reach the last item in the sequence or itterate till condition fails. The body of for loop is separated from the rest of the code using indentation.
<br>

* While loop :we can execute a set of statements as long as a condition is true.
* For loop : A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).


> * Range() Function


> * Continue Statement


> * Break Statement

In [ ]:
print(help(range))

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

None

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
list1 = [1,2,3,4,5]

len(list1)
for i,j in en

5

In [ ]:
for i in list1:
  var34 = "test"
  print(i,var1)
  print(var1)
print(var34)

1 test
test
2 test
test
3 test
test
4 test
test
5 test
test
test

In [ ]:
val =10
while(val<100):

  print(val)
  val =val+5

10
20
30
40
50
60
70
80
90

**Standard Data Types** :The data stored in memory can be of many types.
1. Numbers  
2.String
3.List
4.Tuple
5.Dictionary

**Numbers**:Number data types store numeric values. Number objects are created when you assign a value to them. 
*   int (signed integers)
*   long (long integers, they can also be represented in octal and hexadecimal)
*   float (floating point real values)
*   complex (complex numbers)

In [ ]:
num1 = 1.000000
print(type(num1))

**Strings:** Strings in Python are identified as a contiguous set of characters represented in the quotation marks.
String literals in python are surrounded by either single quotation marks, or double quotation marks or thripple quotation.



>  * 1  capitalize( ):	Converts the first character to upper case
 * 2  casefold( ):	Converts string into lower case
 * 3  center( ):	Returns a centered string
 * 4  count( ):	Returns the number of times a specified value occurs in a string
 * 5  encode( ):	Returns an encoded version of the string
 * 6  endswith( ):	Returns true if the string ends with the specified value
 * 7  expandtabs( ):	Sets the tab size of the string
 * 8  find( ):	Searches the string for a specified value and returns the position of where it was found
 * 9  format( ):	Formats specified values in a string
 * 10 format_map( ):	Formats specified values in a string
 * 11 index( ):	Searches the string for a specified value and returns the position of where it was found
 * 12 isalnum( ):	Returns True if all characters in the string are alphanumeric
 * 13 isalpha( ):	Returns True if all characters in the string are in the alphabet
 * 14 isdecimal( ):	Returns True if all characters in the string are decimals
 * 15 isdigit( ):	Returns True if all characters in the string are digits
 * 16 isidentifier( ):	Returns True if the string is an identifier
 * 17 islower( ):	Returns True if all characters in the string are lower case
 * 18 isnumeric( ):	Returns True if all characters in the string are numeric
 * 19 isprintable( ):	Returns True if all characters in the string are printable
 * 20 isspace( ):	Returns True if all characters in the string are whitespaces
 * 21 istitle( ):	Returns True if the string follows the rules of a title
 * 22 isupper( ):	Returns True if all characters in the string are upper case
 * 23 join( ):	Joins the elements of an iterable to the end of the string
 * 24 ljust( ):	Returns a left justified version of the string
 * 25 lower( ):	Converts a string into lower case
 * 26 lstrip( ):	Returns a left trim version of the string
 * 27 maketrans( ):	Returns a translation table to be used in translations
 * 28 partition( ):	Returns a tuple where the string is parted into three parts
 * 29 replace( ):	Returns a string where a specified value is replaced with a specified value
 * 30 rfind( ):	Searches the string for a specified value and returns the last position of where it was found
 * 31 rindex( ):	Searches the string for a specified value and returns the last position of where it was found
 * 32 rjust( ):	Returns a right justified version of the string
 * 33 rpartition( ):	Returns a tuple where the string is parted into three parts
 * 34 rsplit( ):	Splits the string at the specified separator, and returns a list
 * 35 rstrip( ):	Returns a right trim version of the string
 * 36 split( ):	Splits the string at the specified separator, and returns a list
 * 37 splitlines( ):	Splits the string at line breaks and returns a list
 * 38 startswith( ):	Returns true if the string starts with the specified value
 * 39 strip( ):	Returns a trimmed version of the string
 * 40 swapcase( ):	Swaps cases, lower case becomes upper case and vice versa
 * 41 title( ):	Converts the first character of each word to upper case
 * 42 translate( ):	Returns a translated string
 * 43 upper( ):	Converts a string into upper case
 * 44 zfill( ):	Fills the string with a specified number of 0 values at the beginning


---

In [ ]:
string1 = 'test1'
string2 = "test2 'strint2'"
string3 = string1+string2
string4 = string1.capitalize()
string5 = string1.upper()
print(string1,string2,string4,string5)

test1 test2 'strint2' Test1 TEST1

**Lists**:Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets '[ ]. To some extent, lists are similar to arrays in C. One difference between them is that all the items belonging to a list can be of different data type.

Python has a set of built-in methods that you can use on lists:

 *  1  append(  ):	Adds an element at the end of the list
 *  2  clear(  ):	Removes all the elements from the list
 *  3  copy(  ):	Returns a copy of the list
 *  4  count(  ):	Returns the number of elements with the specified value
 *  5  extend(  ):	Add the elements of a list (or any iterable), to the end of the current list
 *  6  index(  ):	Returns the index of the first element with the specified value
 *  7  insert(  ):	Adds an element at the specified position
 *  8  pop(  ):	Removes the element at the specified position
 *  9  remove(  ):	Removes the first item with the specified value
 *  10 reverse(  ):	Reverses the order of the list
 *  11 sort(  ):	Sorts the list

None

In [ ]:
list1 = [1,2,3,4,5]
list2 = []
for i in list1:
  print(i)
  list2.append(i+3)
print(list2)

1
2
3
4
5
[4, 5, 6, 7, 8]

In [ ]:
print(list2.reverse())

None

---
**Tuples**: A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas.enclosed within square brackets '( )'.
A tuple is a collection which is ordered and unchangeable or immutable as it also is called.



1	**Type:** List is mutable.	Tuple is immutable.
<br>
2	**Iteration:**	List iteration is slower and is time consuming.	Tuple iteration is faster.<br>
3	**Appropriate:** for	List is useful for insertion and deletion operations.	Tuple is useful for readonly operations like accessing elements.<br>
4	**Memory Consumption:**	List consumes more memory.	Tuples consumes less memory.<br>
5	**Methods:**	List provides many in-built methods.	Tuples have less in-built methods.<br>
6 **Error prone:**	List operations are more error prone.	Tuples operations are safe.<br>
---

**Dictionary** :Python's dictionaries are kind of Key value pair,Dictionaries are enclosed by curly braces ({ })

 * 1  clear(  ):	Removes all the elements from the dictionary
 * 2  copy(  ):	Returns a copy of the dictionary
 * 3  fromkeys(  ):	Returns a dictionary with the specified keys and value
 * 4  get(  ):	Returns the value of the specified key
 * 5  items(  ):	Returns a list containing a tuple for each key value pair
 * 6  keys(  ):	Returns a list containing the dictionary's keys
 * 7  pop(  ):	Removes the element with the specified key
 * 8  popitem(  ):	Removes the last inserted key-value pair
 * 9  setdefault(  ):	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
 * 10 update(  ):	Updates the dictionary with the specified key-value pairs
 * 11 values(  ):	Returns a list of all the values in the dictionary

**Operands:** Operators are the constructs which can manipulate the value of operands.

Python language supports the following types of operators.
 
*   Arithmetic Operators
*  Comparison (Relational) Operators
*   Assignment Operators
*   Logical Operators
*   Bitwise Operators
*   Membership Operators
*  Identity Operators

In [ ]:
> >= < <= = !=